.container {
  background-color: white;
  padding-top: 5px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.list {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}

.item {
  width: 120px;
}

.label,
.name {
  display: block;
  color: white;
  background-color: tomato;
}
